
{% set alerts = get_flashed_messages(with_categories=true) %}
<style>
  .alert-container {
    position: fixed;
    width: 100%;  
    top: 50px;
    right: 50px;
    z-index: 9999;
    max-width: 300px;
  }
  .alert-container > .alert {
    width: 100% !important;
  }
</style>
{% if alerts|length %}
  <div class="alert-container">
    {% for category, massage in alerts %}
    <div class="alert alert-dismissible text-bg-primary border-0 fade show alert-{{ category }}" role="alert">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
       {{ massage }}
    </div>
    {% endfor %}
  </div>
{% endif %}
