{% set active = "article" %}
{% extends "admin/_layout.html" %}
{% block title %} Add Article {% endblock %}

{% block content %}
<div class="content">

  <!-- Start Content-->
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="/owner/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Add Article</li>
            </ol>
          </div>
          <h4 class="page-title">Create Article</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->


    <!-- ADD CATEGORY ROW -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="header-title">Add Article</h4>
          </div>
          <form class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" name="title" id="title" class="form-control">
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="category" class="form-label">Category</label>
                  <select name="category" class="form-control" id="category">
                    <option value="" selected disabled>Select category</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Article</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}