{% set active = "article" %}
{% extends "admin/_layout.html" %}
{% block title %} Article {% endblock %}

{% block content %}
<div class="content">

  <!-- Start Content-->
  <div class="container-fluid"> 

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="/owner/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Article</li>
            </ol>
          </div>
          <h4 class="page-title">Article</h4>
        </div>
      </div>
    </div>
    <!-- end page title -->


    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="header-title">All Articles</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive-sm">
              <table class="table table-striped table-centered mb-0">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Author</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- CHECKING IF THE CATEGORY CONTAINS ANY DATA -->
                  {% if articles %}
                  <!-- LOOP THROUGH THE CATEGORY DATA -->
                  {% for article in articles %}
                  <tr>
                    <td style="white-space: nowrap;">{{ article.title }}</td>
                    <td style="white-space: nowrap;">{{ article.cat_name }}</td>
                    <td>
                        <img src="/static/uploads/{{ article.image }}" style="max-width: 100px; object-fit: contain;" />
                    </td>
                    <td style="white-space: nowrap;">{{ article.author }}</td>
                    <td>{{ sub_words(article.content, 20) }}...</td>
                    <td style="white-space: nowrap;">{{ article.date }}</td>
                    <td style="white-space: nowrap;">
                        <a title="edit" href="/owner/article/edit/{{ article.id }}" class="text-reset fs-16 px-1">
                            <i class="ri-pencil-line text-primary"></i>
                        </a>
                      <a title="delete" href="/owner/article/delete/{{ article.id }}" class="text-reset fs-16 px-1">
                        <i class="ri-delete-bin-2-line text-danger"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <!-- IF CATEGORY CONTAINS NOTHING  -->
                  <tr>
                    <td colspan="7" class="py-4 text-center text-muted">No article found</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}